:root {
    --cor-escura: #1B2021;
    --cor-laranja: #CC3F0C;
    --cor-laranja2: #c6613c;
    --cor-azulpastel: #638475;
    --cor-texto: #F1FFE7;
    --azul-forte: #247BA0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html {
    font-size: 62,5%
}

body {
    background-color: var(--cor-escura);
    z-index: 1;
    width: 100vw;
    height: 100vh;
    font-size: 1.6rem;
}

/* SESSÃO INICIAL */

section#header2 {
    height: 100vh;
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    padding-top: 3rem;
}

#avatar {
    height: 400px;
    margin-left: 10rem;
}

.header2-text {
    color: var(--cor-texto);

}

.header2-text h2 {
    font-size: 6rem;
}

.header2-text h3 {
    margin: 1rem 0;
    font-size: 3rem;
}

.header2-text h4 {
    font-size: 1.5rem;
}

/* HEADER NAV */

#header-nav {
    background-color: var(--cor-laranja);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: 80px;

}

#header-nav h1 {
    font-size: 2rem;
    margin-left: 4rem;
    color: var(--cor-texto);
}

.nav-bar a {
    margin-left: 4rem;
    color: var(--cor-texto);
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1rem;
}

.nav-bar a:last-child {
    margin-right: 4rem;
}

.nav-bar a:hover {

    background-color: var(--cor-laranja2);
}

/* SECTION SOBRE MIM */

#section-sobremim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-color: var(--cor-escura);
}

.sobremim-text {
    text-align: center;
    margin-bottom: 2em;
}

#section-sobremim h2 {
    color: var(--cor-laranja);
    text-transform: uppercase;
    font-size: 3em;
    margin: 1rem;
    text-align: center;

}

#section-sobremim p {
    color: var(--cor-texto);
    font-size: 1.5em;
    text-align: justify;
    line-height: 1.4em;
    padding: 3rem 5rem;
    text-indent: 3em;
}

#section-sobremim h3 {
    color: var(--cor-laranja2);
    text-transform: uppercase;
    font-size: 2em;
    margin: 1rem;
}

ul#ul-sobremim li{
    color: var(--cor-texto);
    font-size: 1.5em;
    text-align: center;
    line-height: 1.4em;
    margin: 5rem 3rem;
    list-style: none;
}

/* SECTION CASOS DE ESTUDO */

#h2menu {
    color: var(--cor-laranja);
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    background-color: var(--cor-escura);
    margin-bottom: 3rem;
}

section#section-casos {
   width: 80%;
   margin: 0 auto;
   background-color: var(--cor-escura);
   margin-bottom: 3em;
}

#estudo1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-bottom: 4em;
}

#estudo1 img {
    width: 90vw;
    border-radius: 20px;
}

.estudo1-text{
    margin: auto 0;
}

.estudo1-text h3{
    color: var(--cor-laranja2);
    text-transform: uppercase;
    font-size: 2em;
    margin: 2em 0;
    text-align: center;
}

.estudo1-text p {
    color: var(--cor-texto);
    font-size: 1.5em;
    text-align: center;
}


#estudo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-bottom: 4em;
}

#estudo2 img {
    width: 90vw;
    border-radius: 20px;
}

.estudo2-text{
    margin: auto 0;
}

.estudo2-text h3{
    color: var(--cor-laranja2);
    text-transform: uppercase;
    font-size: 2em;
    margin: 2em 0;
    text-align: center;
}

.estudo2-text p {
    color: var(--cor-texto);
    font-size: 1.5em;
    text-align: center;
}

#estudo3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-bottom: 4em;
}

#estudo3 img {
    width: 90vw;
    border-radius: 20px;
}

.estudo3-text{
    margin: auto 0;
}

.estudo3-text h3{
    color: var(--cor-laranja2);
    text-transform: uppercase;
    font-size: 2em;
    margin: 2em 0;
    text-align: center;
}

.estudo3-text p {
    color: var(--cor-texto);
    font-size: 1.5em;
    text-align: center;
}


/* FORMULÁRIO */

#section-fale {
    margin-bottom: 3em;
}
#section-fale h2{
    color: var(--cor-laranja);
    text-transform: uppercase;
    font-size: 3em;
    padding: 1em 2em;
    background-color: var(--cor-escura);
    text-align: center;
} 

#form {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
    background-color: var(--cor-laranja2);
    padding: 2em;
    border-radius: 20px;
    
}

#form textarea {
    resize: vertical;
    overflow: auto;
    outline: none;
}

#form label{
    color: var(--cor-texto);
    font-size: 1em;
    margin-bottom: 0.5em;
}

#form input {
    margin-bottom: 1em;
    outline: 0;
    padding: 5px;
}

#form button {
    margin-top: 1em;
    background-color: var(--azul-forte);
    width: 80%;
    margin: 2em auto 1em auto;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    color: var(--cor-texto);
    text-transform: lowercase;
    padding: 2px;
    cursor: pointer;
}

#form button:hover {
    background-color: #53869c;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#redes img{
cursor: pointer;
margin: 1.5rem;

}

footer h3{
        font-size: 1.5em;
        color: var(--cor-texto); 
        text-align: center;
        margin-bottom: 3em;
        margin-top: 1rem;
}

#topo {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 70px;
    border-radius: 100%;
    background-color: var(--cor-laranja);
    color: var(--cor-texto);
    text-align: center;
    padding: 5px;
    text-decoration: none;
}


